body
{
	color: #333;
	font: 14px helvetica,arial,sans-serif
}

p
{
	margin: 1em 0;
}

blockquote, p
{
	line-height: 1.5em;	
}

div h1
{
	border-bottom: 1px #CCCCCC solid;
}

div#nav, div#content
{
	margin: 0 auto;
	width: 750px;
}

div#content h1.title_page
{
	font-size: 256px;
	color: #ccc;
	border:0;
	line-height: 0.2;
	text-align: right;
	margin:100px 0 48px 0;
}

div#content h1.title_page span
{
	font-size: 50px;
	color: #888;
}

div#content p.author
{
	font-size:28px;
	text-align: center;
	color: #999;
}

div#nav
{
	border-top: 1px #CCCCCC solid;
	font-size: 10px;
	text-align: center;	
}

p.c, p.c, div.c, div.c
{
	text-align: center;
}

div.image-center
{
	text-align: center;
}

div.system-message
{
	background-color: pink;
}

table
{
	margin: 0 auto;
}

table th td, table tr td, table, table th, table tr
{
	border: none;
}

table th, table tr td
{
	border-bottom: 1px solid #cccccc;
	padding: 0.2em;
	line-height: 1.7;
}

table th
{
	border-bottom: 1px solid #999999;
	font-weight: bolder;
	padding-bottom: 0px;
}

code.code-inline
{
	color: #555;
	background-color: #f9f9f9;
	padding:1px;
	font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

div.code-block
{
	padding-left: 1em;
}

div.code-block pre
{
	font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	line-height: 1.75em;
}

div.code-block { width: 100% }
div.code-block { overflow: auto }

div.code-block pre { color: #333; }

/* namespace, keywords */
.r, .kw  { color:#AF956F;}

/* number */
.i, .fl { color:#46A609; }

/* native type */
.pt { color:#C52727; }

.af { color:#00C }
.an { color:#007 }
.at { color:#f08 }
.av { color:#700 }
.aw { color:#C00 }
.bi { color:#509; font-weight:bold }
.c  { color:#888; }
.ch { color:#04D }
.ch .k { color:#04D }
.ch .dl { color:#039 }
.cl { color:#B06; font-weight:bold }
.cm { color:#A08; font-weight:bold }
.co { color:#036; font-weight:bold }
.cr { color:#0A0 }
.cv { color:#369 }
.de { color:#B0B; }
.df { color:#099; font-weight:bold }
.di { color:#088; font-weight:bold }
.dl { color:black }
.do { color:#970 }
.dt { color:#34b }
.ds { color:#D42; font-weight:bold }
.e  { color:#666; font-weight:bold }
.en { color:#800; font-weight:bold }
.er { color:#F00; background-color:#FAA }
.ex { color:#C00; font-weight:bold }
.fu { color:#06B; font-weight:bold }
.gv { color:#d70; font-weight:bold }
.hx { color:#058; font-weight:bold }
.ic { color:#B44; font-weight:bold }
.il { background: #ddd; color: black }
.il .il { background: #ccc }
.il .il .il { background: #bbb }
.il .idl { background: #ddd; font-weight: bold; color: #666 }
.idl { background-color: #bbb; font-weight: bold; color: #666; }
.im { color:#f00; }
.in { color:#B2B; font-weight:bold }
.iv { color:#33B }
.la { color:#970; font-weight:bold }
.lv { color:#963 }
.oc { color:#40E; font-weight:bold }
.of { color:#000; font-weight:bold }
.op { }
.pc { color:#038; font-weight:bold }
.pd { color:#369; font-weight:bold }
.pp { color:#579; }
.ps { color:#00C; font-weight:bold }


.ke { color: #808; }
.ke .dl { color: #606; }
.ke .ch { color: #80f; }
.vl { color: #088; }
.rx { background-color:#fff0ff }
.rx .k { color:#808 }
.rx .dl { color:#404 }
.rx .mod { color:#C2C }
.rx .fu  { color:#404; font-weight: bold }
.s { background-color:#fff0f0; color: #D20; }
.s .s { background-color:#ffe0e0 }
.s .s  .s { background-color:#ffd0d0 }
.s .k { }
.s .ch { color: #b0b; }
.s .dl { color: #710; }
.sh { background-color:#f0fff0; color:#2B2 }
.sh .k { }
.sh .dl { color:#161 }
.sy .k { color:#A60 }
.sy .dl { color:#630 }
.ta { color:#070 }
.tf { color:#070; font-weight:bold }
.ts { color:#D70; font-weight:bold }
.ty { color:#339; font-weight:bold }
.v  { color:#036 }
.xt { color:#444 }

hr
{
	display: none;
}

hr + p
{
	text-align: center;
	font-size: 16px;
	background-color: #f8f8f8;
	padding:1em 0 1em 0;
	border-top:1px solid #eee;
}

hr + p a
{
	font-weight: bolder;
	color: #555;
	text-decoration: none;
}

hr + p a:hover
{
	color: white;
	background-color: #555;
}